body {
  padding-bottom: 5vh;
}

.poll-option-name {
  margin-left:10px;
}

.poll-container {
  margin-bottom:1vh;
}

.poll-chart-container {
  margin-top: 1vh;
  margin-bottom:2vh;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-container {
  margin-bottom:10px;
}

.btn {
  margin-right: 5px;
}

/*http://www.himpfen.com/social-sharing-buttons-bootstrap-font-awesome/*/
.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
