doctype html
html
  head
    title Clementine.js - The elegant and lightweight full-stack boilerplate.
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  header
    p
      | Welcome, 
      span#display-name
      | !
    a.menu(href='/') Home
    p |
    a.menu(href='/profile') Profile
    p |
    a.menu(href='/my-polls') My Polls
    p |
    a.menu(href='/logout') Logout
  body
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='/common/clientConfig.js')
    script(type='text/javascript', src='/common/ajax-functions.js')
    script(type='text/javascript', src='/controllers/userController.client.js')
    block scripts