extends ./layout.jade

block content
  h2.my-polls-header Share Polls with Your Friends Via Twitter or by Sharing the Poll Link
  #user-poll-list
block scripts
  script(src='/common/user-polls-react.js')