extends ./layout.jade

block content
    #single-poll
block scripts
        script(type='text/javascript').                                                  
                var _id = '#{_id}'
        script(src='/common/poll-single-react.js')